/* badassComponent's private CSS styles */
.badass {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.badass li {
    display: flex;
}

.badass button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEF;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
}

.badass button:hover {
    color: #2c3a41;
    background-color: #EFF;
    left: .1em;
}

.badass button:active {
    background-color: rgb(141, 245, 245);
    color: #fafafa;
}

.badass button.selected {
    background-color: #aaa9ed;
    color: white;
}

.badass button.selected:hover {
    background-color: #505050;
    color: white;
}

.badass button.selected:active {
    background-color: rgb(141, 245, 245);
    color: white;
}

.badass .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.badass .name {
    align-self: center;
}